@tailwind base;
@tailwind components;
@tailwind utilities;

.items__list {
  @apply border-2 border-black w-full text-center uppercase p-3 font-bold text-black font-display text-lg transition-all duration-300 cursor-pointer hover:scale-90 hover:shadow-lg hover:bg-black hover:text-white hover:border-white;
}

.normal {
  @apply w-36 h-12 border-2 font-bold transition-all duration-300 hover:bg-black hover:text-white;
}

.shadow {
  @apply w-36 h-12 outline-none font-bold bg-red-400 shadow-red-600 shadow-md text-white transition-all duration-300 hover:shadow-lg hover:shadow-red-300 active:shadow-xl active:shadow-red-300;
}

.notion {
  @apply w-36 h-12 border-2 border-black shadow-notion font-bold transition-all duration-300 hover:shadow-none;
}

.windows {
  @apply w-36 h-10 border-2 border-t-2 border-t-white border-l-white border-b-black border-r-black bg-gray-300 transition-all duration-300 active:shadow-sm active:shadow-black;
}

.cyberpunk {
  @apply w-36 h-12 text-white bg-rose-600 uppercase tracking-wider shadow-notion shadow-sky-300 font-bold transition-all duration-300 hover:shadow-rose-600 hover:bg-sky-300 hover:text-rose-500 hover:shadow-none;
}

.btn-scale {
  @apply w-36 h-12 border-none outline-none font-bold bg-[#3e9fee] text-white transition-all duration-300 hover:scale-90 hover:text-[#3e9fee] hover:bg-white 
}

.btn-rounded {
  @apply w-36 h-12 bg-transparent border-2 border-black rounded-xl outline-none font-bold tracking-wide uppercase transition-all duration-300 hover:rounded-none hover:bg-black hover:text-white hover:border-4 hover:border-white
}